/* custom defaults */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, Arial, Helvetica, sans-serif;
}

body {
  cursor: default;
  background-color: plum;
}

/****************************************************************** form */
.title {
  font-size: 2rem;
  margin: 0 0 1rem;
}

.form-center {
  display: flex;
  margin: 7rem 0;
  flex-direction: column;
  align-items: center;
}

.form-bg {
  border: solid 0.5rem white;
  border-radius: 0.5rem;
  background-color: white;
  padding: 1rem 1.5rem;
  box-shadow: 0.5rem 0.5rem purple;
}

input[type="text"],
input[type="email"],
input[type="checkbox"] {
  padding: 0.5rem 0.3rem;
  margin-top: 2rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem purple;
}

input[type="checkbox"] {
  margin-right: 0.2rem;
  cursor: pointer;
  box-shadow: none;
}

.submit-btn {
  appearance: none;
  padding: 10px;
  border: none;
  background-color: plum;
  color: white;
  font-weight: 600;
  border-radius: 0.5rem;
  width: 100%;
  margin: 1rem 0 1.5rem;
  cursor: pointer;
  font-family: system-ui, cursive, sans-serif;
  font-size: 1.2rem;
  box-shadow: 0.5rem 0.5rem purple;
}

input[type="text"]:hover,
input[type="email"]:hover {
  box-shadow: 0.5rem 0.5rem plum;
}

.submit-btn:hover {
  background-color: purple;
  box-shadow: 0.5rem 0.5rem plum;
  font-weight: bold;
}
